ion-view(view-title='Connect')
    ion-content(class='state-Connect')
        //<button class="button button-block" ng-click="ctrl.pushedIt()">I pushed it</button>
        button.button.button-block(ng-click="ctrl.pushedIt()") I pushed it
