ion-view.state-home(title='Home')
  ion-nav-buttons(side="right")
    a.button.button-clear.icon.ion-power(ng-click="$root.logout()")
  ion-content
    h1.my-class(ng-click="ctrl.testMethod()") Welcome to Madness Life