ion-view.state-login(title='Login' hide-nav-bar="true")
  ion-content(scroll='false')
    a.button.button-block.icon-left.ion-social-facebook(ng-click="ctrl.loginFacebook()") Facebook
    a.button.button-block.icon-left.ion-social-google(ng-click="ctrl.loginGoogle()") Google
